.block-head{
    color: #33333B;
    font-size: clamp(1.7rem,5vw,4rem);
    font-family:Graphik,Arial,sans-serif;
    font-weight: bold;
    padding: 0;
    margin-top: 100px;
}
.block{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Add this line */
    background-color: #f3f5f8;
}

.block-down a{
    color: red;
    font-weight: 500;
}
.block-down p{
    color: #33333B;
    font-family:Graphik,Arial,sans-serif;
    font-weight: 400;

}
.block-down h3{
    font-weight: bold;
    font-size: clamp(1rem,5vw,1.5rem);
    color: #33333B;
}
.block-down{
   height: 80vh;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   margin: 0 100px;
}
.block-down-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
   
    
}

@media (max-width:768px) {
    .block{
        height: 100%;
    }
    .block-down{
        margin: 0;
        height: 100%;
    }
    .block-head{
        margin: 10px 0;
    }
}
   
@media (max-width:768px) and (orientation:landscape) {
    
}
@media (max-width:1029px) and (orientation:landscape) {
    .block{
        height: 100%;
        margin: 0;
        
    }
    .block-down{
        margin: 0;
        height: 100%;
    }
    .block-head{
        margin: 10px 0px;
    }
}