.content {
  height: 70vh;
  background-color: #f0f0f2;
  text-align: center;
  color:rgb(7, 6, 6);
  
}
.content-top {
  margin: 0 5%;
}
.height-premium {
  height: 100vh;
  margin-bottom: 0px;
}
.premium-cont {
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}
.premium-cont p{
    font-weight: 500;

  }
.premium-cont h1{
    font-weight: bold;
    font-size: clamp(1.5rem,5vw,3rem);
    /* font-weight: 600; */
  
    
}


.content-butto{
  --color: #00A97F;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color:#f43228;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
 
  font-weight: 250;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
 
  color: white;
  
 }
 
 .content-butto::after, .content-butto::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  
  z-index: -1;
  transition: .5s ease-out;
  background-color:rgb(24, 27, 26);
 }
 
 .content-butto::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .content-butto:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .content-butto:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .content-butto:hover {
  color: aliceblue;
 }
 
 .content-butto:active {
  filter: brightness(.7);
  transform: scale(.98);
 }

 .content-butto{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content-bottom img{
  height: 350px;
}

@media (max-width:768px)  {
    .content{
       
      height:auto;
    }
    .content-bottom img{
        height: 100px;
    }
    .height-premium{
        height: 100%;
    }
    .content-butto{
      padding:3%;
    }
  
}
@media (max-width:768px) and (orientation:landscape) {
    .content{
        height: 100%;
    }
    .height-premium{
        height: 100%;
    }

}
@media  (orientation:landscape) {
  .content{height: 100%;}
  .height-premium{
    height: 100%;
  }
}