body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white !important;
  background-color: #0f0c13 !important;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(180, 2%, 24%) 0,
      transparent 59%
    ),
    radial-gradient(
      at 50% 70%,
      hsl(180, 1%, 25%) 0,
      transparent 55%
    );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
